<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.undefined.survivor.detect"
          android:versionCode="1"
          android:versionName="1">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/recycle_logo"
        android:name="in.undefined.survivor.MyApp"
        android:theme="@style/AppTheme" >

        <activity android:name="in.undefined.survivor.detect.FdActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation">

        </activity>
        <activity android:name="in.undefined.survivor.detect.StartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="in.undefined.survivor.airovips.AriovipsMain"
            android:screenOrientation="portrait"/>
        <activity android:name="in.undefined.survivor.airovips.EnterHiscore"
            android:screenOrientation="portrait"/>
        <activity android:name="in.undefined.survivor.quizz.Splash"
            android:screenOrientation="portrait"/>
        <activity android:name="in.undefined.survivor.quizz.QuizzActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="in.undefined.survivor.quizz.ResultActivity"
            android:screenOrientation="portrait"/>
    </application>

    <supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true" />

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

</manifest>
